@media(max-width :991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 18rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
padding: 2rem 4%;
    }
}